.content__about {
  margin-top: 5rem;
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.content__title {
  width: 100%;
  max-width: 100rem;
  text-align: left;
  font-size: 3rem;
}

.content__info {
  width: 100%;
  max-width: 100rem;

  line-height: 2;
}
