@font-face {
  font-family: RickandMorty;
  src: url(./get_schwifty.ttf);
}

.navbar {
  width: 100%;
  min-height: 6rem;
  display: flex;
  flex-direction: column;
}

.navbar__menu {
  background-color: var(--color-primary);
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navbar__option {
  width: 10vw;
  color: antiquewhite;
  font-size: 2rem;
  font-family: RickandMorty;
}

.navbar__link {
  margin: 1.8rem 0;
}

.navbar__link_img {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__img {
  height: 100%;
}
