:root {
  --color-primary: rgba(25, 25, 25, 255);
  --color-secondary: #994677;
  --color-secondary-transparent: rgba(88, 48, 77, 0.5);
  --color-secondary2: rgb(119, 71, 83);
  --color-text: #cfb6a8;
}

html {
  font-size: 10px; /* Esto define un rem en 10px */
  color: var(--color-text);
  font-family: "Courier New", Courier, monospace;
}

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

*, /* Todos los elementos antes y después*/
*::before,
*::after {
  box-sizing: border-box; /* Borde de caja fijo */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  display: block;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--color-primary);
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}
p a {
  display: inline;
  color: inherit;
}

img,
video,
iframe,
picture,
figure {
  max-width: 100%;
  display: block;
}

form,
input,
select,
textarea,
button,
label {
  display: block;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
