.mosaic__main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
}

.mosaic__card {
  width: 30rem;

  margin: 2rem 3rem;
  padding-bottom: 2.5rem;
  border: 3px solid var(--color-secondary2);
  border-radius: 130px;

  background-color: var(--color-secondary-transparent);

  overflow: hidden;
}

.mosaic__img {
  width: 100%;
  border-bottom: 3px solid var(--color-secondary2);
}

.mosaic__description {
  width: 90%;
  font-size: 1.5rem;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
}
